web/WEB-INF/wsdl/NewWebServiceFromWSDL/calendar.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="calendar" targetNamespace="http://ws.imm.dtu.dk/calendar"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.imm.dtu.dk/calendar" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types/>
    <message name="addAppointmentRequest">
        <part name="part1" type="xsd:date"/>
    </message>
    <message name="addAppointmentResponse">
        <part name="output1" type="xsd:string"/>
    </message>
    <message name="calendarOperationRequest">
        <part name="appointment" type="xsd:date"/>
    </message>
    <message name="calendarOperationRequest1">
        <part name="dateInput" type="xsd:date"/>
    </message>
    <message name="calendarOperationResponse">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="calendarOperationRequest2">
        <part name="appointmentDate" type="xsd:date"/>
        <part name="appointmentText" type="xsd:string"/>
    </message>
    <portType name="calendarServicePortType">
        <operation name="getAppointment">
            <input name="input2" message="tns:calendarOperationRequest1"/>
            <output name="output1" message="tns:calendarOperationResponse"/>
        </operation>
        <operation name="addAppointment">
            <input name="input1" message="tns:calendarOperationRequest2"/>
        </operation>
    </portType>
    <binding name="calendarServicePortTypeBinding" type="tns:calendarServicePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="addAppointment">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="getAppointment">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="calendarService">
        <port name="calendarServicePortTypeBindingPort" binding="tns:calendarServicePortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </port>
    </service>
</definitions>
